* {
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(at 50% 0px, rgb(31, 55, 86), rgb(20, 21, 57));
  color: white;
  min-height: 100vh;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.container {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.clock {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  left: -30px;
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle--second {
  font-size: 1rem;
}
.circle--minute {
  font-size: 2rem;
}
.circle--hour {
  font-size: 3rem;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateY(-50%), rotate(0);
  transform-origin: bottom;
  border-radius: 8px;
}

.second-hand {
  height: 240px;
  width: 2px;
  background-image: linear-gradient(red 10%, transparent 75%);
}

.minute-hand {
  height: 180px;
  width: 2px;
  background-image: linear-gradient(white 50%, transparent 75%);
}
.hour-hand {
  height: 120px;
  width: 4px;
  background-image: linear-gradient(gray 50%, transparent 75%);
}
